.home-page {
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-guide {
  margin-top: 0;
  font-size: 1.5em;
  padding: 16px 48px 16px 8px;
}

.start-game-btn {
  margin: auto;
}
